@model Restaurant.ViewModels.Dishes.DishCreateInputModel
@{
    ViewData["Title"] = "Add Dish";
    var dishTypes = Model.DishTypes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
}

<div class="section mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="header mb-3">
                <h2 class="text-center">Add Dish</h2>
            </div>
            <form method="post">
                <div class="component">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="form-group text-center">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control is-valid rounded-pill">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="form-group text-center">
                                <label asp-for="Price"></label>
                                <input asp-for="Price" class="form-control is-valid rounded-pill">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="form-group text-center">
                                <label asp-for="DishesTypeId"></label>
                                <select asp-for="DishesTypeId" asp-items="dishTypes" class="form-control rounded-pill custom-select myselect" required>
                                    <option value="" disabled selected>Select Category</option>
                                </select>
                                <span asp-validation-for="DishesTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <button type="submit" class="btn btn-success btn-pill ">Create</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
