@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <h1 class="display-4">Welcome in Restaurant</h1>

    <img src="https://media.timeout.com/images/105239239/image.jpg" class="img-fluid" alt="GitHub image">

</div>
